.main-content-div{
    padding : 20px;
    margin: 20px;
}


/* uk-table *******************************************************************/
.uk-table thead{ background-color: #ccc; }
.uk-table th{color: #fff;}
.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover{ background-color: #efefef; }
/* uk-table *******************************************************************/

.selected-row{
    background-color: #f1f4ff;
}
